.WTF {
    text-align: center;
}

.WTF-link:hover {
    text-decoration: underline;
}

.WTF-main-list {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.WTF-upper-label {
    font-size: 11px;
}

.WTF-main-label {
    font-size: 18px;
    color: #292f33 !important;
}

.WTF-last-seen {
    text-align: center;
}

.WTF-second-row {
    margin-top: 5px;
}

.WTF-loader {
    text-align: center;
}

.WTF-hidden {
    display: none;
}

.WTF-highlight {
    border: 2px solid #55ACEE !important;
}